body{
    font-family: 'Times New Roman', Times, serif;
}
.foto1{
    height: 250px;
    float: left;
    border-radius: 4em;
    margin: 5px;
}
.kader{
    background-color: lightgray;
    color: black;
    border-radius: 4em;
    
}
.foto2{
    height: 250px;
    float: right;
    border-radius: 4em;
    margin: 5px;
}
.tekst1{
    margin-left: 20px;
    padding-top: 60px;

}
.tekst2{
    padding-top: 60px;
}
